html{
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#header {
    background-image: url(bg.jpg);
    
}

#header img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

#header p {
    font-size: 32pt;
    color: white;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#cool {font-family: Comic Sans MS;}
